@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {

    font-family: 'Dancing Script', cursive;
    text-align: center;
}

nav{
    display: inline-block;
    font-size: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
li{
    display: inline-block;
    position: relative;
    margin: 10px;
}

h1{
    display: inline-block;
    position: relative;
}

h1::after,h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    top: 0.6em;
    background-color: black;
    transform: scale(0);
    transition: all 0.2s ease-in;

}
h1::after{
    left: -140px;
}

h1::before{
    right: -140px;
}
li::after,li::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 1.5px;
    top: 0.7em;
    background-color: black;
    transform: scale(0);
    transition: all 0.2s ease-in;

}
li::after{
    left: -17px;
}

li::before{
    right: -17px;
}

h1:hover::after,h1:hover::before,li:hover::after,li:hover::before{
    transform: scale(1);
}

input{
    border: none;
     border-bottom: 2px solid black;
    margin-bottom: 20px;
}

input:hover{
   border-bottom: 2px solid firebrick;
}

input:focus{
    border-bottom: 2px solid firebrick;

}



.btn{
    background-color: white;
    font-family: 'Dancing Script', cursive;
    border-radius: 8px;
    font-size: 20px;
}

.insertar{
    font-size: 20px;
}
label{
    font-size: 20px;
}

#mainSection div{
    display: block;
    border: 1px solid black;
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
    height: auto;
}

.formulario {
    margin-top: 50px;
}
